# Day 3: Introduction to loops and if statements in Python

Yesterday, we went over the important basics for coding languages, and we will be building off of them today.

Things we learned yesterday
* How to define a variable
* Boolean values that return a true or false
* Indexing a list, changing lists
* Using keys to call information from a dictionary
* What built in functions are

Today, we will be going over these tools that make automating your research easier. These tools are similar across coding languages as well. The first thing we will go through is `for loops`, which allow you to perform a process many times very quickly. 
The next thing we will be going through is `if statements`. These allow you to check conditions of interest, and then perform actions depending on whether they are true or false.

Goals for the day
* Go over Jupyter notebooks a little more in depth
* Learn more about floating points
* Go over an introduction to for loops
* Begin using if/else statements
* Learn elif statements
* Nesting if statements in a for loop

# Mini-lesson: Floating Point

## 0 Different "types" of numbers

There are two main python types for numbers: `int` and `float`

Type `int` are integers, such as 0, 1, 2, ..., 10, ...

Type `float` are numbers in their decimal form, such as 0.1, 1.1, 55.000000001, ...

`int` can be cast in `float` and vice versa.

Examples of both types are below:

In [1]:
x = 1

# As a sanity check, we print the type for the variable x:
print(type(x))
print("x = {}".format(x))

<class 'int'>
x = 1

In [2]:
# We cast the integer stored in x to a float. 
x = float(x) # After running this line, the variable x now represents a floating point value and not an integer.

# Sanity check:
print(type(x))
print("x = {}".format(x))

<class 'float'>
x = 1.0

In [3]:
# When casting from float to int, the number gets truncated such that the decimal part is removed
print(int(3.2))
print(int(3.5))
print(int(3.8))

3
3
3

## 0.1 Floating point issues and limitations

There are times when the result of a calculation with floating points seems to defy what we've traditionally learned...

For example, what is the sum of 1.1 and 2.2?


Let's see what Python thinks...

In [4]:
print("Does 1.1 + 2.2 = 3.3?")
print(1.1 + 2.2 == 3.3)

Does 1.1 + 2.2 = 3.3?
False

In [5]:
print(1.1+2.2)

3.3000000000000003

The above is a very classic floating point error, similar to the one we saw yesterday. 

What happened?

Floating-point numbers are implemented in computer hardware as binary fractions. Thus, most decimal fractions cannot be accurately stored.



As a default, python uses double-precision floating point. This means that 53 bits are used, so the otherwise infinite representation is rounded to 53 significant bits.


In your computer, `0.1` is stored as the following rounded **binary value**:
`0.0001100110011001100110011001100110011001100110011001101`. 

This binary value is then converted to the following **decimal value** when printed to the console: `0.1000000000000000055511151231257827021181583404541015625`, which is slightly greater than 0.1.

In [6]:
print("0.1 to the 60th decimal place: {:.60f}".format(0.1))
print("0.1 to the 19th decimal place: {:.19f}".format(0.1))
print("0.1 to the 17th decimal place: {:.17f}".format(0.1))

0.1 to the 60th decimal place: 0.100000000000000005551115123125782702118158340454101562500000
0.1 to the 19th decimal place: 0.1000000000000000056
0.1 to the 17th decimal place: 0.10000000000000001

The following is an example from yesterday:

In [7]:
weight_kg = 25
conversion = 2.2

weight_lbs = weight_kg * conversion
print(weight_lbs)

55.00000000000001

In [8]:
"55 to the 60th decimal place: {:.60f}".format(2.2*25)

'55 to the 60th decimal place: 55.000000000000007105427357601001858711242675781250000000000000'

## 1 For loops in python

You'll often want to run through all entries in a list and perform the same action on all of them. Useful examples are if you want to perform the same math operation a certain number of times or read in a number of files containing your data.

The mechanism of a for loop is that you specify a certain number of times to perform an action, and then it will perform some action that many times. To learn more about for loops you can read this [website](https://www.w3schools.com/python/python_for_loops.asp).

The indentation on the second line is key, and tells Python what you want to do for each iteration. In this example, we create a list of fruits labelled `fruits`, which has three items in it. We can then step through each of these elements in the list by momentarily assigning it to an oject `item`, starting with the first element of the list.

In [9]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print(item)

apple
banana
cherry

The mechanics of what is happening here is that each sequential element in `fruits` is being assigned to the indexer `item` and that is being printed out. The colon at the end of the for line tells python where to start the loop, and includes anything that is indented after that line.
Now, something a little more complex:

In [10]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print("My favorite fruit is", item)
print('This string is not in the for loop')

My favorite fruit is apple
My favorite fruit is banana
My favorite fruit is cherry
This string is not in the for loop

The last thing the for loop assigned to the variable `item` will be the last thing in the list, which is now stored in the memory. The original list, `fruits`, will be unchanged:

In [11]:
print(fruits) # printing our original list
print(item) # printing out the variable that is used in the for loop

['apple', 'banana', 'cherry']
cherry

One of the classic ways that scientists write for loops is to use the index `i` and then a range of values. Range is a built in function in python, that returns a list of sequential values by taking in in a starting point, a stopping point, and the step size. This range is important, because it tells the `for` loop where to start and when to stop. It starts at 1 and then it goes by 1 to 10 and **does not include 10**. First, we will examine what the list range looks like:

In [14]:
?range

In [15]:
for i in range(1,10,1): # from 1 to 10 (not including 10), step by one
  print(i)

1
2
3
4
5
6
7
8
9

We can change the step size that `range` is using by changing the last input we give to range. We can go from 1 to 100, instead with a step size of 10. So, it starts at 1, then jumps to 11, and so on. It doesn't include 101 because it is outside of the range:

In [16]:
for i in range(1,100,10): # for 1 to 100 (not including 100), step by TEN
  print(i)

1
11
21
31
41
51
61
71
81
91

Now that we can see how the `i` and `range` work `for` loop works, we can use it to build a more complicated for loop. We initialize an empty list `squares`, and add each new value using the function `append`:

In [17]:
squares = []
print(squares)

[]

In [18]:
squares = []

for i in range(1,10,1):
  squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

What is happening here, is that i is momentarily being assinged a value within range. We can then perform an operation on that value (here an exponent) and then append the value to the empty list we created.

## 2 Coding check in 

The post doc in Katie's lab refuses to use Fahrenheit when discussing the temperatures outside in Chicago! She needs help calculating the temperature in Fahrenheit to Celsius for a range of values from -10 to 80! You can do this for every 10 degrees.

$C = (F - 32) * (5/9)$

[p.s. this is a real story].

Note: It also helps to write this out with words first, since Python pretty much works that way.

Hint: you will momentarily assign each fahrenheit value to `i`

In [ ]:
## This is where you can write your answer!

# set up empty list

# set up for loop with range (the range will be your fahrenheit values)



# print out your new array

### Another important way to write a for loop

Before moving on, I want to show another way to write a for loop if you already have some data. We can start with our `heights_inches` from yesterday and convert each height to meters using a for loop. This is similar to how our first example was written, but a more common way of writing it especially if you'd like to index multiple things by i. We now set the range to step through each element of height, and then we call up that height and convert it to meters:

In [19]:
heights_inches = [59, 80, 64, 55, 74, 70, 45, 66, 54, 64, 60, 61, 70]

heights_m = []

for i in range(0,len(heights_inches),1):
    heights_m.append(heights_inches[i]*2.54/100)
    
print(heights_m)

[1.4986000000000002, 2.032, 1.6256, 1.3969999999999998, 1.8796000000000002, 1.778, 1.143, 1.6764000000000001, 1.3716, 1.6256, 1.524, 1.5493999999999999, 1.778]

## 3 Combining our skills

You can also use dictionaries within for loops to perform more complicated actions. First, I'll explain a new concept, which is used for printing or reformating text.

### 3.1 `f-string`

The `f-string` is a new an improved way of formatting printed statements. They are more explicitely called “formatted string literals,” f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

You'll notice we used `format` earlier to format the output of the floating point cells, but this is the new and improved way of doing that, which you can read about [here](https://realpython.com/python-f-strings/). This is similar to that.

In [ ]:
name = 'Katie'
age = 28

welcome = f"Hello, {name}. You are {age}."

print(welcome)

### 3.2 Dictionaries in a for loop 

I love the beach and the coast, so I'm looking at where I'd like to move for my next position. For this example, I've collected the coastline in kilometers for a series of states, but I also want to know how many people I am going to have to compete with for a nice beach day-- I dislike crowded beaches! So I'm first going to define two dictionaries, one for the coastline for each state as the key and one for population size.

In [22]:
states = ['Alaska', 'Florida', 'California', 'Hawaii','Louisiana','Delaware','Illinois']

coastline = [10690, 2170, 1350, 1210, 639, 45, 0]
population = [733391,21538187,39538223,1455271,4657757,989948,12812508]

coast_dict = dict(zip(states,coastline))
pop_dict = dict(zip(states,population))

You can iterate over the keys to print out the dictionary:

In [23]:
for key in coast_dict:
    print (key, coast_dict[key])

Alaska 10690
Florida 2170
California 1350
Hawaii 1210
Louisiana 639
Delaware 45
Illinois 0

Next, I'm going to use a for loop to calculate the per capita (per person) amount of coastline. Since I don't want to share my beaches, I want the most km per capita!

In [24]:
for key in states:
    state_coast = coast_dict[key]
    state_pop = pop_dict[key]
    
    pc_coast = round(state_coast/state_pop,7)

    print(f"{key} has {pc_coast} km of beaches per capita ")

Alaska has 0.0145761 km of beaches per capita
Florida has 0.0001008 km of beaches per capita
California has 3.41e-05 km of beaches per capita
Hawaii has 0.0008315 km of beaches per capita
Louisiana has 0.0001372 km of beaches per capita
Delaware has 4.55e-05 km of beaches per capita
Illinois has 0.0 km of beaches per capita

Great! I have my answers, but they're a little hard to interpret because they're so far down the decimal place. I'm going to instead convert my numbers to be per million people, instead of per one person.

In [25]:
for key in states:
    state_coast = coast_dict[key]
    state_pop = pop_dict[key]/1000000
    
    pc_coast = round(state_coast/state_pop,2)

    print(f"{key} has {pc_coast} km of beaches per million people ")

Alaska has 14576.13 km of beaches per million people
Florida has 100.75 km of beaches per million people
California has 34.14 km of beaches per million people
Hawaii has 831.46 km of beaches per million people
Louisiana has 137.19 km of beaches per million people
Delaware has 45.46 km of beaches per million people
Illinois has 0.0 km of beaches per million people

**I guess I'm moving to Alaska!**

*Note*: This is not the best way of accomplishign this task, but hopefully helps cement the mechanics of `for loops` and `dictionaries`. Preferably we would have this data stored in a `.csv` or `.txt` instead of copying and pasting into the coding cell. There are also ways of doing this inside your data frame not using a for loop using `pandas`.

# 4 Coding check in

I've made myself a big batch of pudding and after having a bowl of it I need to put it away in some **cuboid** shaped tupperware. I'm bad at eyeballing volumes, but I know the heights, widths, and lengths of all my tupperware. If I have 60 cubic inches of pudding, which tupperware should I put it in if I want to take up as much space as possible:

Tupperware I have [height,width,length]
* Blue tupperware [3, 7, 3]
* Red tupperware [4, 5, 2]
* Green tupperware [5, 6, 2.5]
* Yellow tupperware [6, 4, 2]
* Orange tupperware [6.5, 3, 3]

Create three dictionaries of heights, widths, and lengths, use a for loop to calculate the volume of my tupperware:

In [35]:
###### answer to coding check in!

h=[3,4,5,6,6.5]
w=[7,5,6,4,3]
l=[3,2,2.5,2,3]

h_w=dict(zip(h,w))
h_l=dict(zip(h,l))

names=['b','r','g','y','o']
h_names=dict(zip(h,names))

There's a lot of different ways to accomplish the same task, so I'll show you another way of completing this

In [39]:
### answer to alternative coding check in 

for i in h:
    vol=h_w.get(i)*h_l.get(i)*i
    print(f'my {h_names[i]} container is {vol} cubic inches')

my b container is 63 cubic inches
my r container is 40 cubic inches
my g container is 75.0 cubic inches
my y container is 48 cubic inches
my o container is 58.5 cubic inches

## 5 Nested for loops

So far, we've only used `if statements` within for loops, but we can also use another `for loop` within a `for loop`, which are called nested for loops. The code doesn't move on to the next iterative in a for loop until all the for loops nested within it are completed. This means we will start with one polynomial (the first being 0) and then perform our calculations on each value in the `numbers` list before moving to the next polynomial.

In [40]:
polynomials = [0,1,2,3,4,5]
numbers = [1,5,10,25,100]

for poly in polynomials:
    vals = []
    for num in numbers:
        vals.append(num**poly)
    print(f"Our numbers to the {poly} power is {vals}")

Our numbers to the 0 power is [1, 1, 1, 1, 1]
Our numbers to the 1 power is [1, 5, 10, 25, 100]
Our numbers to the 2 power is [1, 25, 100, 625, 10000]
Our numbers to the 3 power is [1, 125, 1000, 15625, 1000000]
Our numbers to the 4 power is [1, 625, 10000, 390625, 100000000]
Our numbers to the 5 power is [1, 3125, 100000, 9765625, 10000000000]

There's no real limit (except time) on the number of for loops you can nest within another one. In our next example we will examine the speeds of many different colored vehicles. In this example, we will not move to the color `blue` until we have completed all the for iteratives for `red`.

In [41]:
colors = ['red','blue','white','black']
vehicles = ['car','buggy','tricycle','bus','airplane']
motion = ['goes','drives','flies']
speed = ['fast','slow','lightspeed','mach 5']

In [42]:
for col in colors:
    for veh in vehicles:
        for mot in motion:
            for sp in speed:                
                print(f"The {col} {veh} {mot} {sp}")

The red car goes fast
The red car goes slow
The red car goes lightspeed
The red car goes mach 5
The red car drives fast
The red car drives slow
The red car drives lightspeed
The red car drives mach 5
The red car flies fast
The red car flies slow
The red car flies lightspeed
The red car flies mach 5
The red buggy goes fast
The red buggy goes slow
The red buggy goes lightspeed
The red buggy goes mach 5
The red buggy drives fast
The red buggy drives slow
The red buggy drives lightspeed
The red buggy drives mach 5
The red buggy flies fast
The red buggy flies slow
The red buggy flies lightspeed
The red buggy flies mach 5
The red tricycle goes fast
The red tricycle goes slow
The red tricycle goes lightspeed
The red tricycle goes mach 5
The red tricycle drives fast
The red tricycle drives slow
The red tricycle drives lightspeed
The red tricycle drives mach 5
The red tricycle flies fast
The red tricycle flies slow
The red tricycle flies lightspeed
The red tricycle flies mach 5
The red bus goes fast
The red bus goes slow
The red bus goes lightspeed
The red bus goes mach 5
The red bus drives fast
The red bus drives slow
The red bus drives lightspeed
The red bus drives mach 5
The red bus flies fast
The red bus flies slow
The red bus flies lightspeed
The red bus flies mach 5
The red airplane goes fast
The red airplane goes slow
The red airplane goes lightspeed
The red airplane goes mach 5
The red airplane drives fast
The red airplane drives slow
The red airplane drives lightspeed
The red airplane drives mach 5
The red airplane flies fast
The red airplane flies slow
The red airplane flies lightspeed
The red airplane flies mach 5
The blue car goes fast
The blue car goes slow
The blue car goes lightspeed
The blue car goes mach 5
The blue car drives fast
The blue car drives slow
The blue car drives lightspeed
The blue car drives mach 5
The blue car flies fast
The blue car flies slow
The blue car flies lightspeed
The blue car flies mach 5
The blue buggy goes fast
The blue buggy goes slow
The blue buggy goes lightspeed
The blue buggy goes mach 5
The blue buggy drives fast
The blue buggy drives slow
The blue buggy drives lightspeed
The blue buggy drives mach 5
The blue buggy flies fast
The blue buggy flies slow
The blue buggy flies lightspeed
The blue buggy flies mach 5
The blue tricycle goes fast
The blue tricycle goes slow
The blue tricycle goes lightspeed
The blue tricycle goes mach 5
The blue tricycle drives fast
The blue tricycle drives slow
The blue tricycle drives lightspeed
The blue tricycle drives mach 5
The blue tricycle flies fast
The blue tricycle flies slow
The blue tricycle flies lightspeed
The blue tricycle flies mach 5
The blue bus goes fast
The blue bus goes slow
The blue bus goes lightspeed
The blue bus goes mach 5
The blue bus drives fast
The blue bus drives slow
The blue bus drives lightspeed
The blue bus drives mach 5
The blue bus flies fast
The blue bus flies slow
The blue bus flies lightspeed
The blue bus flies mach 5
The blue airplane goes fast
The blue airplane goes slow
The blue airplane goes lightspeed
The blue airplane goes mach 5
The blue airplane drives fast
The blue airplane drives slow
The blue airplane drives lightspeed
The blue airplane drives mach 5
The blue airplane flies fast
The blue airplane flies slow
The blue airplane flies lightspeed
The blue airplane flies mach 5
The white car goes fast
The white car goes slow
The white car goes lightspeed
The white car goes mach 5
The white car drives fast
The white car drives slow
The white car drives lightspeed
The white car drives mach 5
The white car flies fast
The white car flies slow
The white car flies lightspeed
The white car flies mach 5
The white buggy goes fast
The white buggy goes slow
The white buggy goes lightspeed
The white buggy goes mach 5
The white buggy drives fast
The white buggy drives slow
The white buggy drives lightspeed
The white buggy drives mach 5
The white buggy flies fast
The white buggy flies slow
The white buggy flies lightspeed
The white buggy flies mach 5
The white tricycle goes fast
The white tricycle goes slow
The white tricycle goes lightspeed
The white tricycle goes mach 5
The white tricycle drives fast
The white tricycle drives slow
The white tricycle drives lightspeed
The white tricycle drives mach 5
The white tricycle flies fast
The white tricycle flies slow
The white tricycle flies lightspeed
The white tricycle flies mach 5
The white bus goes fast
The white bus goes slow
The white bus goes lightspeed
The white bus goes mach 5
The white bus drives fast
The white bus drives slow
The white bus drives lightspeed
The white bus drives mach 5
The white bus flies fast
The white bus flies slow
The white bus flies lightspeed
The white bus flies mach 5
The white airplane goes fast
The white airplane goes slow
The white airplane goes lightspeed
The white airplane goes mach 5
The white airplane drives fast
The white airplane drives slow
The white airplane drives lightspeed
The white airplane drives mach 5
The white airplane flies fast
The white airplane flies slow
The white airplane flies lightspeed
The white airplane flies mach 5
The black car goes fast
The black car goes slow
The black car goes lightspeed
The black car goes mach 5
The black car drives fast
The black car drives slow
The black car drives lightspeed
The black car drives mach 5
The black car flies fast
The black car flies slow
The black car flies lightspeed
The black car flies mach 5
The black buggy goes fast
The black buggy goes slow
The black buggy goes lightspeed
The black buggy goes mach 5
The black buggy drives fast
The black buggy drives slow
The black buggy drives lightspeed
The black buggy drives mach 5
The black buggy flies fast
The black buggy flies slow
The black buggy flies lightspeed
The black buggy flies mach 5
The black tricycle goes fast
The black tricycle goes slow
The black tricycle goes lightspeed
The black tricycle goes mach 5
The black tricycle drives fast
The black tricycle drives slow
The black tricycle drives lightspeed
The black tricycle drives mach 5
The black tricycle flies fast
The black tricycle flies slow
The black tricycle flies lightspeed
The black tricycle flies mach 5
The black bus goes fast
The black bus goes slow
The black bus goes lightspeed
The black bus goes mach 5
The black bus drives fast
The black bus drives slow
The black bus drives lightspeed
The black bus drives mach 5
The black bus flies fast
The black bus flies slow
The black bus flies lightspeed
The black bus flies mach 5
The black airplane goes fast
The black airplane goes slow
The black airplane goes lightspeed
The black airplane goes mach 5
The black airplane drives fast
The black airplane drives slow
The black airplane drives lightspeed
The black airplane drives mach 5
The black airplane flies fast
The black airplane flies slow
The black airplane flies lightspeed
The black airplane flies mach 5

That was a lot of stuff printed out! We can find out how many iterations we went through using the `len` function:

In [ ]:
print("Wow, we printed out", len(colors)*len(vehicles)*len(motion)*len(speed), "lines")

## 6 Coding check in

One of my hobbies is baking, and I'm always having trouble with my measurement conversions (and my partner just broke my tablespoon measurement). I'd like you to write me a nested for loop that I can print out and put on my fridge.

To make this interesting, I'd like you to iterate over several values of measurements in cups for several common measurements (oz, tbsp, tsp, ml). You can use a dictionary of conversions, where the keys are the metrics that map to a conversion to cups and example being `{'oz' : 8}` because there are 8 oz in a cup. Iterate over all the keys in the dictionary and do the conversion for several values of cup sizes. Use an `f string` to print out the conversion.

Remember, there are 8 oz in a cup, 16 tbsp, 28 tsp, and 237 ml.

In [54]:
# conversions dictionary 
cs=[8,16,28,237]
con={8:'oz', cs[1]:'tbsp', cs[2]:'tsp', cs[3]:'ml'}
print (con)


# nested for loops
some_cups=[0,2,3,5,8,16,28,237]

for i in some_cups:
    vals=con.get(i)
    print(f'{i} is {vals} cups')

{8: 'oz', 16: 'tbsp', 28: 'tsp', 237: 'ml'}
0 is None cups
2 is None cups
3 is None cups
5 is None cups
8 is oz cups
16 is tbsp cups
28 is tsp cups
237 is ml cups

## 7 If/else statements

If statements are conditional tests that allow you to interrogate values and then perform actions if they are true or false. These are handy tools for cleaning up data and performing analysis. We will start small and work our way up. 

First, we will recall back to yesterdays exercise when we checked if something was true or not using the `==,>`, or `<` sign. There are several different tests we can do. These are including 

* `==` if something is equal to
* `>` greater than
* `>=` greater than or equal to
* `<` less than
* `<=` less than or equal to
* `!=` not equal to

In [66]:
my_age = 28 # defining my age

my_age >= 18 # asking if this is greater than or equal to 18

True

So we set our age to be some value, and then we asked Python if that value was greater than or equal to 18, and it returned either `True` or `False`. We utilize an if statement to then perform some action.

So now, we can write a if statement that will print out a statement that we can vote if we are older than 18, and we cannot vote if we are younger than 18.

In [67]:
my_age = 10

if my_age >= 18: # if my_age is greater than equal to 18
  print("You can vote!")
else:
  print("Maybe next year!")

Maybe next year!

### 4.1 Using `and` and `or`

You may also want to check multiple conditions, which can be done using the `and` and `or` conditions. In the case of `and`, both conditions must be true to pass. In the case of `or`, only one of them needs to be true to pass.

In [68]:
my_animal = 'dolphin'
your_animal = 'shark'

if (my_animal == 'shark') and (your_animal == 'shark'):
  print("We both like sharks")
else:
  print("At least one of us does not like sharks")

At least one of us does not like sharks

We can also use `or` when testing conditions if only one of the things need to be true! For example, if I always keep a tally of the pastas in my pantry, I can check to see if I am ready to make pasta!

In [69]:
gnocci = True
spaghetti = True
penne = False

if (gnocci == True) or (spaghetti == True) or (penne == True):
  print("We are ready to make pasta")
else:
  print("We have to go to the store to get some pasta")

We are ready to make pasta

## 8 Coding Check in

It's the end of the fourth quarter the Tampa Bay Buccaneers are down 28-30 against the Cleveland Browns. They are too far away for a field goal, so Tom Brady (quarterback) is going to attemp a Hail Mary to Rob Gronkowski (Tight End). 

In order to get the touch down, Tom Brady needs to throw the ball at least 60 yards `and` Rob Gronkowski needs to be open. Write an `if` statement that tests whether Gronk can make the catch and prints out who wins. 

First, define your variables `brady_throw` to be some number, and `gronk_open` to be `True` or `False`. Then, test those conditions using your `if` statement.

Note: It helps to write this out in words first!

In [70]:
### Write your code for the coding check in here



hi=input('do we want a?')

if hi =='yes':
    print('the right answer')
else:
    print('what?')

do we want a?
what?

## 9 Getting rid of some pesky NaNs by combining for loop and if statement

`NaN` stands for not a number, and is used to represent any value that is undefined or unpresentable. Examples of a `NaN` would be if you divide a number by zero or if a datapoint is missing in your file. They can be annoying to work with. It's important to understand why this `NaN` is in your data before proceeding, so you can ask your questions like:

* Should I drop the data point? 
* Should I make the data point a zero?
* Should I interpolate this data point (i.e. replace it with the mean)?

Say I went around asking my friends how they would rate the new show House of Dragons. I got an answer from 4 people but as I was asking my friend Craig he got a phone call and had to leave so I marked him down as an `NaN`. When I go to take a mean, I get an error because a `NaN` is not numeric.

In [71]:
data = [10,7,8,6,'NaN']

mean_data = sum(data)/len(data)
print(mean_data)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

 This data point wouldn't be necessary when taking a mean, so I can drop it.

In [72]:
data = [10,7,8,6,'NaN']
print("Original data is:", data)

data_clean = []

for i in range(0,len(data)):
    if (data[i] != 'NaN'):
        data_clean.append(data[i])
        
print("Cleaned data is:", data_clean)

Original data is: [10, 7, 8, 6, 'NaN']
Cleaned data is: [10, 7, 8, 6]

In [73]:
mean_data = sum(data_clean)/len(data_clean) # updated to clean_data
print(mean_data)

7.75

## 10 `elif` statements

Sometimes, there will be multiple situations you want to test at the same time. In this case, we use an `elif` statement, which tests another condition.

A key note here is that Python will only go on to the next `elif` statement if it fails the test, so the ordering of the statments is **very important**. This is similar to making a decision tree.

This situation might arise if you are an Illinois resident and you want to visit the Field Museum and get the all access pass so you can go to a 3D movie. There are different prices based on your age, so we need to have more than one test. We start at the youngest age and then work our way up. The last statement we have is the `else` statement, which gives all the people who didn't pass the other requirements their ticket price:

The order of events
* Ask if age is less than 3, admission is **free** if it is
* Ask if age is less than 11 (but older than 3 because it failed that test), admission is $\$27$ if it is
* Ask if age is older than 65 (but older than 11 because it failed that test), admission is $\$35$ if it is
* Everyone not fitting these categories, admission is $\$38$ for the rest

In [80]:
age = 105

if age < 3: # first test
  print("Your admission is free") # take that baby to the Field to see some dinos!
elif age <= 11: # second test
  print("Your admission is $27")
elif age >= 65: # third test
  print("Your admission is $35")
else: # if all three tests fail
  print("Your Admission is $38")

Your admission is $35

### 10.1 Dictionaries and `f strings` in the `elif` statement.

This code is a little clunky and you have to hard code all the prices in the `if` statement. Recalling from our dictionaries from yesterday, we can instead use a dictionary and an `f string` to print it out specific prices in our `if` statement.

So we will first set up our dictionary named `field_dictionary`:

In [81]:
life_stages = ["baby", "child", "adult", "senior"]
admission = [0, 27, 38, 35]

field_dictionary = dict(zip(life_stages, admission))
print(field_dictionary)

{'baby': 0, 'child': 27, 'adult': 38, 'senior': 35}

We can use the function `get` and the key `child` to call up the price of admission for a child:

In [82]:
field_dictionary.get('senior')

35

We can now use an `f string` to print these values together by setting the `admission_price` using the dictionary and then calling that inside curly brackets in the `f string`.

In [83]:
admission_price = field_dictionary.get('adult') # use the key to get the admission price value

print(f"The cost of admission is ${admission_price}") # print out the correct admission price for each life stage

The cost of admission is $38

You can even save this to a variable called `new_string` that will `print` out the string with the correct admission price.

In [84]:
admission_price = field_dictionary.get('adult') # use the key to get the admission price value

new_string= f"The cost of admission is ${admission_price}"

print(new_string)

The cost of admission is $38

So we can include this back in our original `if` statement:

In [85]:
# create a dictionary for life stages and admission price
life_stages = ["baby", "child", "adult", "senior"]
admission = [0, 27, 38, 35]
field_dictionary = dict(zip(life_stages, admission))

# set our age we want to test
age = 15

# use our elif statements to tell us our price of admission
if age < 3:
  admission_price = field_dictionary.get('baby')
  print(f"The cost of admission for a baby is ${admission_price}")
elif age <= 11:
  admission_price = field_dictionary.get('child')
  print(f"The cost of admission for a child is ${admission_price}")
elif age >= 65: 
  admission_price = field_dictionary.get('senior')
  print(f"The cost of admission for a senior is ${admission_price}")
else: 
  admission_price = field_dictionary.get('adult')
  print(f"The cost of admission for an adult is ${admission_price}")

The cost of admission for an adult is $38

## 11 Coding check in!

You're running a pet grooming salon and you take in cats, dogs, and elephants but nothing else. Set a fair price for each of these animals using a dictionary. Set up a series of `if` and `elif` statements that tell the customer how much it will be to wash their pet. Make sure to tell them that if it's not a cat, dog, or elephant, you can't groom their animal!

In [ ]:
### space to put your code here!


## dictionary of animals and prices



# define your pet




# elif statements

## 12 Using `in` to test if a value is in a list

We can also use the test `in` to see if a value or string is in a list. We must go through the list by using a `for` loop, and then test the conditions of that using an if statements. This is an example of nesting an `if` statement within a `for` loop.

Imagine you are at an ice cream sundae shop and you're requesting flavors. We want to loop through out requested toppings to see if they are available at the shop. 

We first define the toppings available, then the toppings requested. Then we use a for loop to go through each of the toppings requested. If the topping in `toppings_requested` is in `toppings_available` it will print that it's adding the topping. If it is not available, it says we don't have that topping.

In [86]:
toppings_available = ['sprinkles', 'fudge', 'whipped cream', 'bananas'] # the toppings available at the shop
toppings_requested = ['fudge', 'cherries', 'sprinkles', 'whipped cream'] # the toppings someone orders

for topping in toppings_requested: # for loop going through each of the requested toppings
    if topping in toppings_available: # checking to see if each topping is available
        print(f"Adding {topping}!")
    else: # if it is not available
        print(f"We don't have {topping}!")

Adding fudge!
We don't have cherries!
Adding sprinkles!
Adding whipped cream!

## 13 Coding check in

Imagine you're at a local boutique and you want to buy a vase for a friend. Your friend is very picky about their colors, and you need to ask the store manager if she has any specific colors available.

Create a list of three colors that the store manager has (`colors_available`), and another list of three colors your friend might like (`colors_want`). Have the store manager respond with whether or not they have that color available for all the colors your friend might like.

In [ ]:
### coding check in here

# lists of colors available and colors you want

# for loop and if statement

## Day 3's Homework: Fizzbuzz

Perhaps you are familiar with the game fizzbuzz -- count integers, but say "fizz" instead of multiples of three, "buzz" rather than multiples of 5, and "fizzbuzz" for multiples of three and five; i.e., "1 2 fizz 4 buzz fizz 7 8 fizz buzz ...".

Write a program that given a starting integer m and ending integer n, prints the 'fizzbuzz' sequence between them. however, rather than multiples of 3 and 5, your program should also accept integers a and b to serve as fizz and buzz. assume that the inputs are always valid.


A useful operator may be `%` which is the "modulo" orperator. The modulo division operator produces the remainder of an integer division. Syntax: If x and y are integers, then the expression: x % y. produces the remainder when x is divided by y. Here are three examples:

In [ ]:
# 10 goes into 20 two times, the remainder is 1
21 % 10

In [ ]:
# 5 goes into 27 five times, the remainder is 2
27 % 5

In [ ]:
# 5 goes into 25 five times, the remainder is 0
25 % 5

In [ ]:
## try it out!

# Answers to the coding check ins


### 2 Answer

In [ ]:
# set up empty array
celcius = []


# set up for loop with range
for i in range(-10,81,10):
  celcius.append((i -32) * (5/9))


# print out your new array
print(celcius)

### 4 Answer

In [ ]:
tupperware = ['blue', 'red', 'green', 'yellow','orange']

heights_list = [3, 4, 5, 6, 6.5]
widths_list = [7, 5, 6, 4, 3]
lengths_list = [3, 2, 2.5, 2 ,3]

heights_dict = dict(zip(tupperware, heights_list))
widths_dict = dict(zip(tupperware, widths_list))
lengths_dict = dict(zip(tupperware, lengths_list))

for key in tupperware:
    height = heights_dict[key]
    width = widths_dict[key]
    length = lengths_dict[key]
    
    volume = round(height*width*length,1)

    print(f"{key} tupperware has {volume} in^3")

In [ ]:
for i in range(0,len(tupperware),1):
    volume = heights_list[i]*widths_list[i]*lengths_list[i]
    print(f"{tupperware[i]} tupperware has {volume} in^3")

### 6 Answer

In [46]:
# make a list of cup sizes
cups_vals = [0,0.25,0.5,1,2]

# conversions dictionary 
metrics = ['oz','tbsp','tsp','ml']
conversions = [8,16,48, 237]

conv_dict = dict(zip(metrics,conversions))

# nested for loops
for cups in cups_vals:
    for key in conv_dict:
        
        new_conv = cups*conv_dict.get(key)
        
        print(f"{cups} cups is {new_conv} {key}")

0 cups is 0 oz
0 cups is 0 tbsp
0 cups is 0 tsp
0 cups is 0 ml
0.25 cups is 2.0 oz
0.25 cups is 4.0 tbsp
0.25 cups is 12.0 tsp
0.25 cups is 59.25 ml
0.5 cups is 4.0 oz
0.5 cups is 8.0 tbsp
0.5 cups is 24.0 tsp
0.5 cups is 118.5 ml
1 cups is 8 oz
1 cups is 16 tbsp
1 cups is 48 tsp
1 cups is 237 ml
2 cups is 16 oz
2 cups is 32 tbsp
2 cups is 96 tsp
2 cups is 474 ml

### 8 Answer

In [ ]:
brady_throw = 55
gronk_open = True

if (brady_throw >= 60) and (gronk_open == True):
  print("Brady passes to Gronk for the Touch Down, Buccs win!!")
else:
  print("Brady and Gronk fail to make the pass, the Browns win the game!!")

# Let's go Brownies!
# there are several ways this could be written and be more complicated

### 11 Answer to coding check in!

In [ ]:
animals = ["cat", "dog", "elephant"]
price = [25, 50, 1000]

pet_grooming_dict = dict(zip(animals,price))

pet = "elephant"

if pet == "cat":
  wash_price = pet_grooming_dict.get("cat")
  print(f"The cost to wash your cat is ${wash_price}")
elif pet == "dog":
  wash_price = pet_grooming_dict.get("dog")
  print(f"The cost to wash your dog is ${wash_price}")
elif pet == "elephant":
  wash_price = pet_grooming_dict.get("elephant")
  print(f"The cost to wash your elephant is ${wash_price}")
else:
  print("We don't wash that species here")

### 13 Coding check in answer

In [87]:
colors_available = ['red', 'blue', 'violet'] # the colors available from the store
colors_want = ['violet', 'pink', 'blue'] # the colors your friend might like

for color in colors_want: # for loop going through each of the requested toppings
  if color in colors_available: # checking to see if each topping is available
    print(f"We have a vase in {color}!")
  else: # if it is not available
    print(f"We don't have a vase in {color}!")

We have a vase in violet!
We don't have a vase in pink!
We have a vase in blue!